<template>
  <div class="app">
    
  </div>
</template>

<script>
export default {
  name: "app",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
* {
  box-sizing: border-box;
  margin: 0;
  padding:0

}
body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  }
</style>
